html, body {
	padding: 0;
	margin: 0;
	font-family: 'San Francisco', 'Helvetica Neue', Tahoma, sans-serif;
	background-image: linear-gradient(to bottom, #349846, #1a4c23);
	color: #f7f7f7;
	min-height: 100vh;
}

ul.menu {
	margin: 0 auto;
	padding: 0;
	background-color: rgba(255,255,255,0.75);
	max-width: 720px;
	overflow: hidden;
	border-radius: 0px 0px 3px 3px;
}

ul.menu li {
	display: inline-block;
	list-style: none;
}

ul.menu a {
	display: block;
	padding: 4px 8px;
	color: #349846;
	text-decoration: none;
}

ul.menu a:hover {
	color: #f7f7f7;
	background-image: linear-gradient(to bottom, #f79838, #7c4c1c);
}

p {
	box-sizing: border-box;
	max-width: 720px;
	margin: 8px auto;
	background-color: rgba(0,0,0,0.5);
	padding: 2px 4px;
	border-radius: 3px;
}
